extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let juiceid = toShow._id
    - let juiceItemname = toShow.Itemname
    - let juiceQuantity = toShow.Quantity
    - let juiceprice = toShow.price
    - let actionid = "/resource/juice/" + juiceid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='juiceAttr mr-3') juice ID is:
        div(class='newAttr') #{juiceid}
      div.row
        div(class='juiceAttr mr-3') juice Itemname is:
        div(class='newAttr') #{juiceItemname}
      div.row
        div(class='juiceAttr mr-3') juice Quantity is:
        div(class='newAttr') #{juiceQuantity}
      div.row
        div(class='juiceAttr mr-3') juice price is:
        div(class='newAttr') #{juiceprice}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/juice'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/juice'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }